body {
    background: url(../images/concrete-texture.png);
}

.name {
    float: left;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 30px; 
    font-size: 30px;
}

header {
    width: 80%;
    margin: auto;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


nav li {
    display: inline-block;
    padding: 25px;
    
}

nav a {
    color: black;
    color: #777777;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover {
    color: orange;
}

nav a:active {
    color: red;
}

nav a:focus {
    color: blueviolet;
}


header {
    border-bottom: 3px solid rgb(201, 198, 198);
    background: #ffffff;

}

.maincontent {
    background: #ffffff;
    width: 80%;
    margin:auto;
    margin-top: 2%

}

h1 {
    border-bottom: 3px solid rgb(201, 198, 198);
    padding: 2%;
}


.cat {
    width: 120px;
    height: 120px;
    float: left;
    padding: 4%
    
}

p {
    font-size: 21px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    text-align: center;
    background: grey;
    border-top: 10px solid #4aaaa5;
}

.textColor {
    color: #4aaaa5;
    font-size: 25px;
}

.links {
    float: right;
}

.myinfo{
    padding: 4%
}

.projectimg{
    width: 120px;
    height: 120px;
    float: left;
}

.inline {
    display: inline-block;
    margin: 2%;
}

.projectholder {
    padding: 3%;
    color: black;
    color: #777777;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media (min-width: 992px) and (max-width: 1199px) {
    maincontent {
        width: 80%;
    }
    footer {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.maincontent {
        width: 80%;
    }
    footer {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .links {
        float: left;
    }
    div.maincontent {
        width: 80%;
    }
    
    footer {
        width: 100%
    }
}


/* .catPicture {
    padding: 20%;
} */

